/* src/App.css */
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff !important; /* Ép nền trắng */
  color: #333333; /* Chữ màu đen */
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: white;
}

/* Đảm bảo bản đồ có không gian để hiện */
.leaflet-container {
  width: 100%;
  height: 100%;
  background-color: #e5e5e5; /* Màu xám nhẹ nếu map chưa load kịp */
}